:root {
  /* Generic variables */
  --font: Inter;
  --font-mono-space: JetBrainsMono Nerd Font;

  /* accent, link, selection background */
  --accent: var(--purple-1);
  --accent-secondary: var(--blue-1);
  --accent-tertiary: var(--yellow-1);

  /* Backgrounds */
  --base: var(--black-0);
  --section: var(--black-1);
  --card: var(--black-2);

  --input: var(--black-2);
  --overlay: var(--black-2);

  /* Layout */
  --spacing-0: 3px;
  --spacing-1: 5px;
  --spacing-2: 12px;

  --border-1: 1px;
  --border-2: 3px;

  --radius-1: 6px;
  --radius-2: 12px;
  --radius-3: 18px;

  /* Main text, Headlines */
  /* Punctuation (brackets, semicolons, etc.) */
  --text: var(--white-3);

  /* Subtext, Sub Headline, comment */
  --subtext: var(--white-1);

  /* black */
  --black-4: #515151;
  --black-3: #404040;
  --black-2: #303030;
  --black-1: #1d1d1d;
  --black-0: #141414;

  /* white */
  --white-4: #ffffff;
  --white-3: #f0f0f0;
  --white-2: #dfdfdf;
  --white-1: #cacaca;
  --white-0: #ababab;

  /* error, remove, close, delete */
  /* Tags (HTML/XML), annotations */
  --red: #ff596b;

  /* warning */
  /* Numbers, numeric literals */
  --orange: #ffa062;

  /* info, help */
  /* Classes, constructors, special types */
  --yellow: #fffb77;

  /* Strings, text content */
  --green: #99ff82;

  /* success, new, add */
  /* Variable names, constants */
  --teal: #80ffc1;

  /* Attributes, properties (HTML/CSS/JSX) */
  --cyan: #7ef8fe;

  /* neutral */
  /* Function names, declarations */
  --blue: #83bbff;

  /* modified, changed, edit */
  /* Keywords, reserved words, important terms */
  --purple: #a386ff;

  /* Operators (+, -, *, etc.) */
  --pink: #fe99fe;

  --brown: #ba8d70;
}

@-moz-document url("about:home"), url("about:newtab") {
  :root {
      color: blue !important;
  }
    
  .outer-wrapper {
        padding: 0 !important;
    }
    
  main {
      margin: 0 !important;
      width: 100% !important;
  }
    
  .activity-stream {
    background-color: var(--section) !important;
  }
    
  .logo-and-wordmark-wrapper {
        display: none;
  }
  
  .search-handoff-button {
     background: var(--input) !important;  
      height: 4em;
  }
    
  
   
}
  
@-moz-document url("about:blank") {
  html {
    background-color: var(--section) !important;
  }
}

@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html") { 
    body {
        --s-frame-bg: var(--section) !important;
        --s-toolbar-bg: var(--section) !important;
        --tabs-normal-bg: transparent !important;
        --s-act-el-bg: var(--card) !important;
    }
}