:root {
  --sidebar-width-collapsed: 36px;
  --sidebar-width-expanded: 250px;

  --bookmark-columns: 3;
}

@property --sidebar-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

body {
  --sidebar-width: var(--sidebar-width-collapsed);
  transition: --sidebar-width 0.2s linear 0.5s;

  /* Expand sidebar on hover */
  &:has(> #navigator-toolbox:hover),
  &:has(> #browser > #sidebar-box:hover) {
    --sidebar-width: var(--sidebar-width-expanded);
    transition: --sidebar-width 0.15s ease-out 0.04s;
  }
}

/* Position tab window To the right of sidebar */
#tabbrowser-tabbox {
  position: absolute !important;
  top: 0;
  left: var(--sidebar-width-collapsed);

  width: calc(100% - var(--sidebar-width-collapsed));
  height: 100%;
}

/* Permanant Expanded Sidebar Toggle */
:root[titlepreface="᠎"] {
  body {
    --sidebar-width: var(--sidebar-width-expanded) !important;
  }

  #tabbrowser-tabbox {
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
  }
}

:root[inFullscreen] #tabbrowser-tabbox {
  left: 0;
  width: 100%;
}

/* Define Sidebar Layout*/

#navigator-toolbox {
  display: grid;
  grid-template-areas:
    "nav spacer"
    "nav bookmark"
    "nav extension";
  grid-template-columns: var(--sidebar-width-collapsed) 1fr;
  grid-template-rows: var(--urlbar-min-height) 1fr auto;

  width: var(--sidebar-width);

  z-index: 3 !important;

  border: none !important;
}

#sidebar-box {
  min-width: 0 !important;
  width: var(--sidebar-width) !important;
  z-index: 2;
}

#sidebar-splitter,
#sidebar-header {
  display: none;
}

#nav-bar {
  grid-area: nav;
  flex-direction: column;
  overflow: visible !important;
  background: transparent !important;
}

#nav-bar-customization-target {
  display: contents;
}

/* Urlbar */
#urlbar-container {
  order: -1;
  width: var(--sidebar-width) !important;
}

#urlbar:not([breakout-extend="true"]) {
  #page-action-buttons,
  #identity-box,
  #tracking-protection-icon-container,
  #identity-icon-box,
  #picture-in-picture-button,
  #pageAction-urlbar-side-view_mozilla_org,
  #pageAction-urlbar-firefoxpwa_filips_si {
    display: none;
  }
}

/* Expand searchbar when active */
#urlbar[breakout-extend="true"] {
  margin-top: 5px;
  margin-left: 10px;
  min-width: min(900px, calc(100vw - 10px)) !important;
}

/* Hide Unecessary url bar notifications */
#nav-bar-customization-target > * {
  padding: 0 !important;
  margin: 0 !important;
}

/* Hide original tab elements */
#tabbrowser-tabs,
#alltabs-button,
.titlebar-buttonbox-container,
.titlebar-spacer {
  display: none !important;
}

/* Bookmark bar */
#PersonalToolbar {
  grid-area: bookmark;
  padding: 0 !important;
  max-height: unset !important;
  background: transparent !important;
}

#PlacesToolbarItems {
  display: grid;
  grid-template-columns: repeat(var(--bookmark-columns), 1fr);
}

/* Hide bookmark label */
.bookmark-item .toolbarbutton-text {
  display: none !important;
}

/* Extensions bar */
#TabsToolbar {
  grid-area: extension;

  overflow: clip;
  min-width: 0;
}

#unified-extensions-button {
  order: 100;
}

/* #userchrome-toggle_joolee_nl-BAP {
  position: fixed !important;
  bottom: 0;
  left: 0;
} */

/* Visuals */
#PlacesToolbarItems {
  > .bookmark-item:nth-of-type(1) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(2) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(3) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(4) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(5) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(6) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(7) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(8) {
    background: grey !important;
  }

  > .bookmark-item:nth-of-type(9) {
    background: grey !important;
  }
}
