/* stylelint-disable selector-class-pattern */

/* Cleanup Dribbblish */

#dribbblish-back-shadow {
  box-shadow: none !important;
}

/* Cleanup Unused Bottom Buttons */

.main-contextMenu-tippyWrapper,
button[data-testid="control-button-repeat"],
button[data-testid="control-button-npv"],
button[data-testid="fullscreen-mode-button"],
button[data-testid="pip-toggle-button"],
button:has(
  path[d="M13.151.922a.75.75 0 1 0-1.06 1.06L13.109 3H11.16a3.75 3.75 0 0 0-2.873 1.34l-6.173 7.356A2.25 2.25 0 0 1 .39 12.5H0V14h.391a3.75 3.75 0 0 0 2.873-1.34l6.173-7.356a2.25 2.25 0 0 1 1.724-.804h1.947l-1.017 1.018a.75.75 0 0 0 1.06 1.06L15.98 3.75 13.15.922zM.391 3.5H0V2h.391c1.109 0 2.16.49 2.873 1.34L4.89 5.277l-.979 1.167-1.796-2.14A2.25 2.25 0 0 0 .39 3.5z"]
) {
  display: none;
}

/* Shorten and Round the Play bar */

.playback-progressbar {
  width: 95%;
  margin: auto;
}

.x-progressBar-progressBarBg {
  overflow: hidden;
  height: 10px;
  border-radius: 12px;
  background: var(--spice-main-elevated);
}

.x-progressBar-fillColor,
.x-progressBar-sliderArea {
  height: 100%;
  border-radius: 12px;
}

/* Squared Icons */

button, /* stylelint-disable-line  */
.main-avatar-image,
.main-userWidget-box,
.x-entityImage-imageContainer,
button > span {
  border-radius: 6px !important;
}

/* Panel Gap */

/* .Root__top-container {
  gap: 10px !important;
} */

/* .Root__now-playing-bar {
  padding-top: 20px;
}

.Root__top-container > div,
.global-nav .Root__main-view {
  overflow: hidden;
  border-radius: 10px !important;
}

.main-globalNav-searchInputSection {
  max-width: 75vw;
  border-radius: 10px;
  background: var(--spice-card);
} */

.main-globalNav-searchInputContainer input {
  border: none !important;
}

.main-yourLibraryX-entryPoints {
    background-color: #111 !important;
}

.Root__top-container, .main-navBar-mainNav>div {
  background-color: #111 !important;
}

.contentSpacing {
  padding-right: 20px;
  padding-left: 20px;
}
