:root {
  --base: #080808; /* @nix settings.base */
}

.part {
  margin: 5px !important;
  border-radius: 8px !important;
  height: calc(100% - 10px) !important;
}

.composite.panel {
  padding: 0 !important;
}

.parts.panel > div.composite.title.has-composite-bar {
  height: 22px !important;
}

.panel {
  margin-right: 0 !important;
  margin-top: 0 !important;
  height: calc(100% - 5px) !important;
  padding: 5px !important;
}

.monaco-workbench .part.panel.bottom .composite.title {
  display: none !important;
}

.terminal {
  margin-left: 10px !important;
}

div.xterm-screen > canvas {
  margin-top: 8px !important;
}

.monaco-workbench .xterm .xterm-scrollable-element {
  padding-left: 0 !important;
}

.monaco-workbench {
  background: var(--base) !important;
}

.editor {
  margin-right: 0 !important;
}

.content {
  width: 100% !important;
}

/* Move Notifications to the left */
.notifications-toasts {
  left: 3px !important;
  right: unset !important;
}

/* Evenly space out sidebar tabs */
.composite-bar-container,
.composite-bar,
.monaco-action-bar .action-item {
  flex: 1;
}

.monaco-action-bar .action-item .action-label:before {
  left: unset !important;
}

.monaco-action-bar .action-item .badge.compact .badge-content {
  right: calc(50% - 2em) !important;
}

/* Move open editor closse button to the left */
.open-editors .monaco-list .monaco-list-row {
  padding-left: 14px !important;
  padding-right: 12px !important;
  flex-direction: row-reverse !important;
}

/* Remove sidebar Header */
.monaco-workbench .part.sidebar > .title {
  display: none !important;
}

/* Remove panel border top */
.monaco-workbench .part.panel.bottom .composite.title {
  border-top: none !important;
}
