/* stylelint-disable selector-type-no-unknown, selector-id-pattern, alpha-value-notation, color-function-alias-notation, color-function-notation */

/* `otf-font-awesome` is required to be installed for icons */
* {
  font-family: Inter, sans-serif;
  font-size: 12px;
}

#waybar {
  background: transparent;
}

window#waybar > box {
  padding: 3px;
  border: 0 solid #181818;
  border-radius: 0;

  color: #fff;

  background-color: #111;

  transition-duration: 0.5s;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
    window#waybar.empty {
        background-color: transparent;
    }
    window#waybar.solo {
        background-color:rgb(50, 26, 26);
    }
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  border: none;
  background-color: #000;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;

  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #fff;
}

#workspaces button {
  padding: 0 5px;
  color: #fff;
  background-color: transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #222;
  box-shadow: inset 0 -3px #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #111;
  box-shadow: inset 0 -3px #fff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  border-radius: 4px;
  color: #fff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #181818;
}

#battery {
  color: #fff;
  background-color: #181818;
}

#battery.charging,
#battery.plugged {
  color: #000;
  background-color: #99ff82;
}

@keyframes blink {
  to {
    color: #000;
    background-color: #fff;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #fff;

  background-color: #f53c3c;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #fff;
  background-color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #fff;
  background-color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #000;
  background-color: #2ecc71;
}

label:focus {
  background-color: #000;
}

#cpu {
  color: #000;
  background-color: #2ecc71;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  color: #fff;
  background-color: #181818;
}

#pulseaudio.muted {
  color: #fff;
  background-color: #181818;
}

#wireplumber {
  color: #000;
  background-color: #fff0f5;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  min-width: 100px;
  color: #2a5c45;
  background-color: #6c9;
}

#custom-media.custom-spotify {
  background-color: #6c9;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #181818;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  background-color: #eb4d4b;

  -gtk-icon-effect: highlight;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  color: #2d3436;
  background-color: #ecf0f1;
}

#mpd {
  color: #2a5c45;
  background-color: #6c9;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  min-width: 16px;
  margin: 0 5px;
  padding: 0 5px;

  color: #740864;

  background: #00b093;
}

#keyboard-state {
  min-width: 16px;
  margin: 0 5px;
  padding: 0;

  color: #000;

  background: #97e1ad;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
