/* stylelint-disable block-no-empty */
/* stylelint-disable no-invalid-double-slash-comments */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable property-no-unknown */
/* stylelint-disable selector-type-no-unknown */

* {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;

    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    color: #DDD;

    background: transparent;
}

.panel {
    padding: 6px;
    border: 3px solid #222;
    border-radius: 6px;
    background: #181818;
}

.bar {
    padding: 0;
}

.icon {
    min-height: 30px;
    font-size: 20px;

    &.launcher {
        margin-top: 6px;
    }
}

.minimap { }

.divider {
    min-height: 2px;
    margin: 5px;
    margin-bottom: 3px;
    border-radius: 3px;

    background: #333;
}

.window {
    margin: 2px;
    margin-bottom: 0;
    border: 2px solid #3A3A3A;
    border-radius: 2px;

    background: #333; 

    &.focused {
        border: 2px solid #b0aafc;
        background: #46447f;
    }

    &.urgent {
        border: 2px solid #e06b72;
        background: #2e1516;
    }

    // Windows can be targeted using their a modified app id which allows for styling
    // each application individually. 
    
    &.vivaldi-stable {
        border: 2px solid #573033;
        background: #2e1516;

        &.focused {
            border: 2px solid #e06b72;
            background: #331617;
        }
    }

    &.com-mitchellh-ghostty {
        border: 2px solid #395674;
        background: #1a2b3d;

        &.focused {
            border: 2px solid #88bddf;
            background: #395674;
        }
    }

    &.org-gnome-Nautilus {
        border: 2px solid #564b28;
        background: #302712;

        &.focused {
            border: 2px solid #f4da9d;
            background: #564b28;
        }
    }
}

.notification-panel {
    border-color: #b0aafc;
}

.calendar-item, .notification-item {
    margin-bottom: 3px;
    padding: 6px;
    border-radius: 6px;
    background: #222;
}

.calendar-item {
    .calendar-indicator {
        min-width: 10px;
        min-height: 10px;
        border-radius: 50%;
        background: #b0aafc;
    }

    &.lectures .calendar-indicator {
        background: #88bddf;
    }

    &.labs .calendar-indicator {
        background: #f3a18d;
    }
}

.calendar-divider {
    padding: 6px;
    padding-left: 6px;
}

scale {
    min-height: 32px;
    padding: 0 12px;

    trough {
        min-height: 4px;
        border-radius: 2px;
        background: #333;
    }

    highlight {
        min-height: 4px;
        border-radius: 2px;
        background: #b0aafc;
    }

    slider {
        min-width: 16px;
        min-height: 16px;
        margin: -8px;
        border-radius: 50%;

        background: #eee;
    }
}