:root {
  /* Firefox variables */
  --sidebar-width-collapsed: 36px;
  --sidebar-width-expanded: 250px;
  --bookmark-columns: 3;

  /* Generic variables */
  --font: inter;
  --font-mono-space: "JetBrainsMono Nerd Font";

  /* accent, link, selection background */
  --accent: var(--purple-1);
  --accent-secondary: var(--blue-1);
  --accent-tertiary: var(--yellow-1);

  /* Backgrounds */
  --base: #080808; /* @nix settings.base */
  --section: #181818; /* @nix settings.section */
  --card: #353535; /* @nix settings.card */
  --input: var(--black-2);
  --overlay: var(--black-2);

  /* Layout */
  --spacing-0: 3px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --border-1: 0px;
  --border-2: 0px;
  --radius-1: 0px; /* @nix settings.radius-1 */
  --radius-2: 0px; /* @nix settings.radius-2 */
  --radius-3: 0px; /* @nix settings.radius-3 */

  /* Main text, Headlines */

  /* Punctuation (brackets, semicolons, etc.) */
  --text: var(--white-3); /* @nix settings.text */

  /* Subtext, Sub Headline, comment */
  --subtext: var(--white-1); /* @nix settings.subtext */

  /* black */
  --black-4: #515151;
  --black-3: #404040;
  --black-2: #303030;
  --black-1: #1d1d1d;
  --black-0: #141414; /* @nix settings.black */

  /* white */
  --white-4: #fff; /* @nix settings.white */
  --white-3: #f0f0f0;
  --white-2: #dfdfdf;
  --white-1: #cacaca;
  --white-0: #ababab;

  /* error, remove, close, delete */

  /* Tags (HTML/XML), annotations */
  --red: #ff596b; /* @nix settings.red */

  /* warning */

  /* Numbers, numeric literals */
  --orange: #ffa062; /* @nix settings.orange */

  /* info, help */

  /* Classes, constructors, special types */
  --yellow: #fffb77; /* @nix settings.yellow */

  /* Strings, text content */
  --green: #99ff82; /* @nix settings.green */

  /* success, new, add */

  /* Variable names, constants */
  --teal: #80ffc1; /* @nix settings.teal */

  /* Attributes, properties (HTML/CSS/JSX) */
  --cyan: #7ef8fe; /* @nix settings.cyan */

  /* neutral */

  /* Function names, declarations */
  --blue: #83bbff; /* @nix settings.blue */

  /* modified, changed, edit */

  /* Keywords, reserved words, important terms */
  --purple: #a386ff; /* @nix settings.purple */

  /* Operators (+, -, *, etc.) */
  --pink: #fe99fe; /* @nix settings.pink */
  --brown: #ba8d70; /* @nix settings.brown */
}

/* stylelint-disable-next-line at-rule-no-deprecated */
@document url("about:home"), url("about:newtab") {
  :root {
    color: blue !important;
  }

  html {
    overflow: hidden;
  }

  .outer-wrapper {
    padding: 0 !important;
  }

  main {
    width: 100% !important;
    margin: 0 !important;
  }

  main.newtab-main {
    min-width: 0;
  }

  .newtab-main {
    overflow: hidden;
  }

  .activity-stream {
    background-color: var(--section) !important;
  }

  .logo-and-wordmark-wrapper {
    display: none;
  }

  .search-handoff-button {
    height: 4em;
    background: var(--input) !important;
  }

  .search-wrapper {
    padding: 0 !important;
  }

  .search-inner-wrapper {
    width: 100% !important;
    padding: 20px;
    padding-bottom: 5px;
  }

  .body-wrapper {
    width: 100% !important;
    margin: 0 !important;
  }

  /* Top Sites */
  .top-sites {
    padding: 0;
  }

  .collapsible-section.top-sites {
    padding: 20px !important;
    padding-top: 0 !important;
  }

  .top-sites-list {
    display: grid !important;
    grid-template-rows: repeat(8, 1fr);
    gap: 5px !important;

    width: 100% !important;
    margin: 0 !important;
  }

  .top-site-outer {
    width: 100% !important;
    min-width: 0 !important;
    height: 100%;
    margin: 0;

    background: var(--card);
  }

  .top-site-inner {
    height: 100%;
  }

  .title-label {
    display: grid !important;
    place-items: center;
  }

  .title.has-icon.pinned {
    position: absolute;
    inset: 0;

    margin: var(--spacing-0);
    padding: 0;
    border-radius: var(--radius-1);

    opacity: 0;
    background: var(--card);
  }

  .top-site-inner:hover .title.has-icon.pinned {
    opacity: 1;
  }

  .top-site-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  .top-site-icon.rich-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .top-site-icon.default-icon {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  /* Tiles & Icons */
  .tile {
    display: contents !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .icon-wrapper {
    display: contents !important;
  }

  .icon.icon-pin-small {
    display: none;
  }

  .context-menu-button.icon {
    top: var(--spacing-0);
  }
}

/* stylelint-disable-next-line at-rule-no-deprecated */
@document url("about:home"), url("about:newtab"), url("about:blank") {
  body {
    background-color: #080808 !important;
  }
}

/* stylelint-disable-next-line at-rule-no-deprecated */
@document url("about:blank") {
  * {
    background-color: var(--section) !important;
  }
}

/* stylelint-disable-next-line at-rule-no-deprecated */
@document regexp("^moz-extension://.*?/sidebar/sidebar.html")
{
  body {
    --s-frame-bg: var(--section) !important;
    --s-toolbar-bg: var(--section) !important;
    --tabs-normal-bg: transparent !important;
    --s-act-el-bg: var(--card) !important;
  }
}
