/* stylelint-disable selector-id-pattern, no-descending-specificity, selector-type-no-unknown */

:root {
  /* Firefox variables */
  --sidebar-width-collapsed: 36px;
  --sidebar-width-expanded: 250px;
  --bookmark-columns: 3;

  /* Generic variables */
  --font: "Inter";
  --font-mono-space: "JetBrainsMono Nerd Font";

  /* accent, link, selection background */
  --accent: var(--purple-1);
  --accent-secondary: var(--blue-1);
  --accent-tertiary: var(--yellow-1);

  /* Backgrounds */
  --base: #080808; /* @nix settings.base */
  --section: #111; /* @nix settings.section */
  --card: #353535; /* @nix settings.card */
  --input: var(--black-2);
  --overlay: var(--black-2);

  /* Layout */
  --spacing-0: 3px;
  --spacing-1: 0px;
  --spacing-2: 12px;
  --border-1: 0px;
  --border-2: 0px;
  --radius-1: 0px; /* @nix settings.radius-1 */
  --radius-2: 0px; /* @nix settings.radius-2 */
  --radius-3: 0px; /* @nix settings.radius-3 */

  /* Main text, Headlines 
   Punctuation (brackets, semicolons, etc.) */
  --text: var(--white-3); /* @nix settings.text */

  /* Subtext, Sub Headline, comment */
  --subtext: var(--white-1); /* @nix settings.subtext */

  /* black */
  --black-4: #515151;
  --black-3: #404040;
  --black-2: #303030;
  --black-1: #1d1d1d;
  --black-0: #141414; /* @nix settings.black */

  /* white */
  --white-4: #fff; /* @nix settings.white */
  --white-3: #f0f0f0;
  --white-2: #dfdfdf;
  --white-1: #cacaca;
  --white-0: #ababab;

  /* error, remove, close, delete
    Tags (HTML/XML), annotations */
  --red: #ff596b; /* @nix settings.red */

  /* warning 
     Numbers, numeric literals */
  --orange: #ffa062; /* @nix settings.orange */

  /* info, help
    Classes, constructors, special types */
  --yellow: #fffb77; /* @nix settings.yellow */

  /* Strings, text content */
  --green: #99ff82; /* @nix settings.green */

  /* success, new, add
     Variable names, constants */
  --teal: #80ffc1; /* @nix settings.teal */

  /* Attributes, properties (HTML/CSS/JSX) */
  --cyan: #7ef8fe; /* @nix settings.cyan */

  /* neutral
     Function names, declarations */
  --blue: #83bbff; /* @nix settings.blue */

  /* modified, changed, edit
    Keywords, reserved words, important terms */
  --purple: #a386ff; /* @nix settings.purple */

  /* Operators (+, -, *, etc.) */
  --pink: #fe99fe; /* @nix settings.pink */
  --brown: #ba8d70; /* @nix settings.brown */
}

@property --sidebar-width {
  inherits: true;
  initial-value: 0;
  syntax: "<length>";
}

@property --brightness {
  inherits: true;
  initial-value: 100%;
  syntax: "<percentage>";
}

body {
  --sidebar-width: var(--sidebar-width-collapsed);
  --brightness: 100%;

  transition:
    --sidebar-width 0.15s ease-out 0.05s,
    --brightness 0.15s ease-out 0.05s; /* stylelint-disable-line */

  /* Expand sidebar on hover */
  &:has(> #navigator-toolbox:hover),
  &:has(> #browser > #sidebar-box:hover) {
    --sidebar-width: var(--sidebar-width-expanded);
    --brightness: 70%;
  }
}

#browser {
  background: transparent !important;
}

/* Position tab window To the right of sidebar */
#tabbrowser-tabbox {
  /* Overlay Content    */
  --sidebar-size: calc(
    var(--spacing-1) * 2 + 5px + var(--sidebar-width-collapsed)
  );

  position: fixed !important;
  top: var(--spacing-1);
  left: var(--sidebar-size);

  /* Push content */

  /* --sidebar-size: calc(var(--spacing-1) * 2 + var(--sidebar-width));
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-width-collapsed) - var(--spacing-1) * 3);
   */

  /* Resize Content (Not recommended) */

  /* --sidebar-size: calc(var(--spacing-1) * 2 + var(--sidebar-width));
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-size) - var(--spacing-1));
   */

  overflow: clip;

  width: calc(100% - var(--sidebar-size) - var(--spacing-1));
  height: calc(100% - var(--spacing-1) * 2);
  border-radius: var(--radius-1) !important;

  filter: brightness(var(--brightness));
}

/* Permanent Expanded Sidebar Toggle */
:root[titlepreface="á Ž"] {
  body {
    --sidebar-width: var(--sidebar-width-expanded) !important;
  }

  #tabbrowser-tabbox {
    left: calc(var(--sidebar-width) + var(--spacing-1) * 2);
    width: calc(100% - var(--sidebar-width) - var(--spacing-1) * 3);
  }
}

/* Reset Remove gaps in fullscreen */
:root[inFullscreen] #tabbrowser-tabbox {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

body /* stylelint-disable-line */ {
  background: var(--base) !important;
}

/* Define Sidebar Layout */
#navigator-toolbox {
  z-index: 3 !important;

  display: grid;
  grid-template-areas:
    "nav spacer"
    "nav bookmark"
    "nav extension";
  grid-template-columns: var(--sidebar-width-collapsed) 1fr;
  grid-template-rows: var(--urlbar-min-height) 1fr auto; /* stylelint-disable-line */

  width: var(--sidebar-width);
  margin: var(--spacing-1) var(--spacing-1) 0 var(--spacing-1) !important;
  border-bottom: 0 !important;
  border-radius: var(--radius-1) var(--radius-1) 0 0 !important;

  background: var(--section) !important;
}

#sidebar-box {
  z-index: 2;

  overflow: clip;

  width: var(--sidebar-width) !important;
  min-width: 0 !important;
  margin: 0 var(--spacing-1) var(--spacing-1) var(--spacing-1) !important;
  border-radius: 0 0 var(--radius-1) var(--radius-1);
}

#sidebar-splitter,
#sidebar-header {
  display: none;
}

#nav-bar {
  overflow: visible !important;
  grid-area: nav;
  flex-direction: column;
  background: transparent !important;
}

#nav-bar-customization-target {
  display: contents;
}

/* Urlbar */
#urlbar-container {
  order: -1;
  width: var(--sidebar-width) !important;
}

#urlbar:not([breakout-extend="true"]) {
  #page-action-buttons,
  #tracking-protection-icon-container,
  #identity-icon-box,
  #picture-in-picture-button,
  #pageAction-urlbar-side-view_mozilla_org,
  #pageAction-urlbar-firefoxpwa_filips_si {
    display: none;
  }
}

/* Expand search bar when active */
#urlbar[breakout-extend="true"] {
  min-width: min(900px, calc(100vw - 12px)) !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

/* Hide Unnecessary url bar notifications */
#nav-bar-customization-target > * {
  margin: 0 !important;
  padding: 0 !important;
}

/* Hide original tab elements */
#tabbrowser-tabs,
#alltabs-button,
.titlebar-buttonbox-container,
.titlebar-spacer {
  display: none !important;
}

/* Bookmark bar */
#PersonalToolbar {
  grid-area: bookmark;
  max-height: unset !important;
  padding: 0 !important;
  background: transparent !important;
}

#PlacesToolbar {
  min-width: calc(
    var(--sidebar-width-expanded) - var(--sidebar-width-collapsed) -
      var(--spacing-2)
  );
}

#PlacesToolbarItems {
  display: grid;
  grid-template-columns: repeat(var(--bookmark-columns), 1fr);

  & > .bookmark-item {
    background: var(--card) !important;
  }
}

/* Hide bookmark label */
.bookmark-item .toolbarbutton-text {
  display: none !important;
}

/* Extensions bar */
#TabsToolbar {
  overflow: clip;
  grid-area: extension;
  min-width: 0;
}

#unified-extensions-button {
  order: 100;
}

/* Notification panel */

#tab-notification-deck {
  grid-column: span 2;
}

/* #userchrome-toggle_joolee_nl-BAP {
  position: fixed !important;
  bottom: 0;
  left: 0;
} */

/* Remove extension button notification alert */
#unified-extensions-button[attention] > .toolbarbutton-icon {
  background: transparent !important;
}

/* Fix Flicker When Loading */

/* Match loading/new tab background to theme */
#tabbrowser-tabpanels {
  background-color: var(--section) !important;
}

/* Also set browser background */
browser[type="content-primary"],
browser[type="content"] {
  background-color: var(--section) !important;
}

/* New tab page background */
#newtab-customize-overlay,
.contentarea {
  background-color: var(--section) !important;
}
