:root {
  /* Firefox variables */
  --sidebar-width-collapsed: 36px;
  --sidebar-width-expanded: 250px;

  --bookmark-columns: 3;

  /* Generic variables */
  --font: Inter;
  --font-mono-space: JetBrainsMono Nerd Font;

  /* accent, link, selection background */
  --accent: var(--purple-1);
  --accent-secondary: var(--blue-1);
  --accent-tertiary: var(--yellow-1);

  /* Backgrounds */
  --base: #080808; /* @nix settings.base */
  --section: #111111; /* @nix settings.section */
  --card: #353535; /* @nix settings.card */

  --input: var(--black-2);
  --overlay: var(--black-2);

  /* Layout */
  --spacing-0: 3px;
  --spacing-1: 0px;
  --spacing-2: 12px;

  --border-1: 0px;
  --border-2: 0px;

  --radius-1: 6px; /* @nix settings.radius-1 */
  --radius-2: 6px; /* @nix settings.radius-2 */
  --radius-3: 6px; /* @nix settings.radius-3 */

  /* Main text, Headlines */
  /* Punctuation (brackets, semicolons, etc.) */
  --text: var(--white-3); /* @nix settings.text */

  /* Subtext, Sub Headline, comment */
  --subtext: var(--white-1); /* @nix settings.subtext */

  /* black */
  --black-4: #515151;
  --black-3: #404040;
  --black-2: #303030;
  --black-1: #1d1d1d;
  --black-0: #141414; /* @nix settings.black */

  /* white */
  --white-4: #ffffff; /* @nix settings.white */
  --white-3: #f0f0f0;
  --white-2: #dfdfdf;
  --white-1: #cacaca;
  --white-0: #ababab;

  /* error, remove, close, delete */
  /* Tags (HTML/XML), annotations */
  --red: #ff596b; /* @nix settings.red */

  /* warning */
  /* Numbers, numeric literals */
  --orange: #ffa062; /* @nix settings.orange */

  /* info, help */
  /* Classes, constructors, special types */
  --yellow: #fffb77; /* @nix settings.yellow */

  /* Strings, text content */
  --green: #99ff82; /* @nix settings.green */

  /* success, new, add */
  /* Variable names, constants */
  --teal: #80ffc1; /* @nix settings.teal */

  /* Attributes, properties (HTML/CSS/JSX) */
  --cyan: #7ef8fe; /* @nix settings.cyan */

  /* neutral */
  /* Function names, declarations */
  --blue: #83bbff; /* @nix settings.blue */

  /* modified, changed, edit */
  /* Keywords, reserved words, important terms */
  --purple: #a386ff; /* @nix settings.purple */

  /* Operators (+, -, *, etc.) */
  --pink: #fe99fe; /* @nix settings.pink */

  --brown: #ba8d70; /* @nix settings.brown */
}

@property --sidebar-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --brightness {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

body {
  --sidebar-width: var(--sidebar-width-collapsed);
  --brightness: 100%;

  transition-property: --sidebar-width, --brightness;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  transition-delay: 0.05s;

  /* Expand sidebar on hover */
  &:has(> #navigator-toolbox:hover),
  &:has(> #browser > #sidebar-box:hover) {
    --sidebar-width: var(--sidebar-width-expanded);
    --brightness: 70%;
  }
}

#browser {
  background: transparent !important;
}

/* Position tab window To the right of sidebar */
#tabbrowser-tabbox {
  position: fixed !important;
  top: var(--spacing-1);
  height: calc(100% - var(--spacing-1) * 2);

  /* Push content */
  /* --sidebar-size: calc(var(--spacing-1) * 2 + var(--sidebar-width));
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-width-collapsed) - var(--spacing-1) * 3);
   */

  /* Resize Content (Not recommened) */
  /* --sidebar-size: calc(var(--spacing-1) * 2 + var(--sidebar-width));
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-size) - var(--spacing-1));
   */

  /* Overlay Content    */
  --sidebar-size: calc(
    var(--spacing-1) * 2 + 5px + var(--sidebar-width-collapsed)
  );
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-size) - var(--spacing-1));

  filter: brightness(var(--brightness));

  overflow: clip;
  border-radius: var(--radius-1) !important;
}

/* Permanant Expanded Sidebar Toggle */
:root[titlepreface="á Ž"] {
  body {
    --sidebar-width: var(--sidebar-width-expanded) !important;
  }

  #tabbrowser-tabbox {
    left: calc(var(--sidebar-width) + var(--spacing-1) * 2);
    width: calc(100% - var(--sidebar-width) - var(--spacing-1) * 3);
  }
}

/* Reset Remove gaps in fullscreen */
:root[inFullscreen] #tabbrowser-tabbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

body {
  background: var(--base) !important;
}

/* Define Sidebar Layout*/
#navigator-toolbox {
  margin: var(--spacing-1) var(--spacing-1) 0 var(--spacing-1) !important;
  border-bottom: 0 !important;
  border-radius: var(--radius-1) var(--radius-1) 0 0 !important;
  background: var(--section) !important;
  display: grid;
  grid-template-areas:
    "nav spacer"
    "nav bookmark"
    "nav extension";
  grid-template-columns: var(--sidebar-width-collapsed) 1fr;
  grid-template-rows: var(--urlbar-min-height) 1fr auto;

  width: var(--sidebar-width);

  z-index: 3 !important;
}

#sidebar-box {
  margin: 0 var(--spacing-1) var(--spacing-1) var(--spacing-1) !important;

  min-width: 0 !important;
  width: var(--sidebar-width) !important;
  z-index: 2;
  border-radius: 0 0 var(--radius-1) var(--radius-1);
  overflow: clip;
}

#sidebar-splitter,
#sidebar-header {
  display: none;
}

#nav-bar {
  grid-area: nav;
  flex-direction: column;
  overflow: visible !important;
  background: transparent !important;
}

#nav-bar-customization-target {
  display: contents;
}

/* Urlbar */
#urlbar-container {
  order: -1;
  width: var(--sidebar-width) !important;
}

#urlbar:not([breakout-extend="true"]) {
  #page-action-buttons,
  #tracking-protection-icon-container,
  #identity-icon-box,
  #picture-in-picture-button,
  #pageAction-urlbar-side-view_mozilla_org,
  #pageAction-urlbar-firefoxpwa_filips_si {
    display: none;
  }
}

/* Expand searchbar when active */
#urlbar[breakout-extend="true"] {
  margin-top: 0 !important;
  margin-left: 0 !important;
  min-width: min(900px, calc(100vw - 12px)) !important;
}

/* Hide Unecessary url bar notifications */
#nav-bar-customization-target > * {
  padding: 0 !important;
  margin: 0 !important;
}

/* Hide original tab elements */
#tabbrowser-tabs,
#alltabs-button,
.titlebar-buttonbox-container,
.titlebar-spacer {
  display: none !important;
}

/* Bookmark bar */
#PersonalToolbar {
  grid-area: bookmark;
  padding: 0 !important;
  max-height: unset !important;
  background: transparent !important;
}

#PlacesToolbar {
  min-width: calc(
    var(--sidebar-width-expanded) - var(--sidebar-width-collapsed) -
      var(--spacing-2)
  );
}

#PlacesToolbarItems {
  display: grid;
  grid-template-columns: repeat(var(--bookmark-columns), 1fr);
}

/* Hide bookmark label */
.bookmark-item .toolbarbutton-text {
  display: none !important;
}

/* Extensions bar */
#TabsToolbar {
  grid-area: extension;

  overflow: clip;
  min-width: 0;
}

#unified-extensions-button {
  order: 100;
}

/* Notification panel */

#tab-notification-deck {
  grid-column: span 2;
}

/* #userchrome-toggle_joolee_nl-BAP {
  position: fixed !important;
  bottom: 0;
  left: 0;
} */

/* Visuals */
#PlacesToolbarItems {
  > .bookmark-item {
    background: var(--card) !important;
  }
}

/* Remove extension button notification alert */
#unified-extensions-button[attention] > .toolbarbutton-icon {
  background: transparent !important;
}
